<% @article.replies.each do |reply| %>
  <div class="card task-assigned-card">
    <div class="card-header">
      <span class="user">回复人：<%= reply.member.alias %></span>
    </div>
    <div class="card-block">
      <% if reply.body.present? %>
      <dl>
        <dt>回复内容：</dt>
        <dd class="markdown">
          <%= raw reply.body %>
        </dd>
      </dl>
      <% end %>
    </div>
  </div>
<% end %>
<% if !current_member.blank?%>
<%= simple_form_for @reply do |f| %>
  <div class="card task-assigned-card">
    <div class="card-header">
      <span class="user">评论</span>
    </div>
    <div class="card-block">
      <%= f.hidden_field :article_id %>
      <%= f.input :body, as: :text, input_html: { class: 'attach_editor' } %>
      <div class="form-group m-t-1">
        <button type="button" class="btn btn-primary btn-submit">提交回复</button>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
