<div accesskey=""class="list-group-item">
  <h4 class="list-group-item-heading"><%= link_to article.title, article %></h4>
  <p class="list-group-item-text"><%= link_to article.description, article %></p>
  <p class="list-group-item-text">
    <span><%= article.member.alias %></span>
    <span>于</span>
    <span><%= timeago(article.created_at, format: :long) %> 发布，更新于 <%= timeago(article.updated_at, format: :long) %>。</span>
  </p>
</div>
