<div class="row">
  <div class="col-md-9">
      <div accesskey=""class="list-group-item">
        <% if @article.blank? %>
          <div class="no-result" data-turbolinks="true">
            <p>暂无内容</p>
          </div>
        <% else %>
          <h2 class="list-group-item-heading"><%= @article.title %></h2>
          <div>
            <p class="list-group-item-text"><%= raw(@article.content) %></p>
          </div>
          <p class="list-group-item-text">
            <span><%= @article.member.alias %></span>
            <span>于</span>
            <span><%= timeago(@article.created_at, format: :long) %> 发布，更新于 <%= timeago(@article.updated_at, format: :long) %>。</span>
            <span>查看<%= @article.view_count %>次</span>
          </p>
        <% end %>
      </div>
  </div>
  <div class="sidebar col-md-3">
    <!-- <div class="panel panel-default clearfix">
      <div class="panel-body">
        <div class="btn-group btn-block pull-left">
          <a class="btn btn-primary" href="/topics/new">发布新话题</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
